
@if (TempData.Peek("un") != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Customers" asp-action="Index">Hello @TempData["un"]!</a>
        </li>
        <li>
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="User" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
    </ul>
}