<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="dbSample28Jan22Entities" connectionString="metadata=res://*/SampleModel.csdl|res://*/SampleModel.ssdl|res://*/SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UIDK7OE\SQLSERVER2022A3;initial catalog=dbSample28Jan22;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pubsEntities" connectionString="metadata=res://*/PubsModal.csdl|res://*/PubsModal.ssdl|res://*/PubsModal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UIDK7OE\SQLSERVER2022A3;initial catalog=pubs;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>